#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pageTitle {
    font-size: 18px;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .imageDiv {
    padding: 8px;
  }

  .article,
  .published,
  .source,
  .author,
  .description,
  .copyLinkButton {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .pageTitle {
    font-size: 16px;
  }

  .itemCard {
    margin-bottom: 15px;
    padding: 6px;
  }

  .article,
  .published,
  .source,
  .author,
  .description,
  .copyLinkButton {
    padding-left: 15px;
    padding-right: 15px;
  }
}
