body {
  margin: 0px;
  padding-top: 120px;
  }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #e4e5f7;
}


a {
  font-weight: 700;
  color: #e3e3f0;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a:active,
a:focus {
  color: gold; 
}

.mr-auto {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(59, 56, 56);
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%; /* Ensure the navbar spans the entire width */
  z-index: 1000; /* Set a high z-index to ensure it appears above other content */
  /* Add any other styling you need for the navbar */
}

.userProfileLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
 }

 .userProfileLink a{
 color: #9df1ff;
 }

.homeLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
}

.localLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
}

.natLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
}

.worldLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
}

.sportsLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
}

.weatherLink {
  width: 100px;
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
h2 {
  padding-left: 40px;
  padding-right: 40px;
}
h3 {
  padding-left: 40px;
  padding-right: 40px;
}
h4 {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.inputLabel {
  padding-left: 40px;
 padding-right: 10px;
}

.loading {
  padding-left: 40px;
}

.description{
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.published{
  padding-left: 40px;
  padding-right: 40px;
}
.source{
  padding-left: 40px;
  padding-right: 40px;
}
.author{
  padding-left: 40px;
  padding-right: 40px;
}

.article {
  padding-left: 40px;
  padding-right: 40px;
}

.itemCard {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  list-style: none;
}

.pageTitle {
  font-size: 20px;
  text-align: center;
}