body {
  margin: 0px;
  padding-top: 120px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #e4e5f7;
}

a {
  font-weight: 700;
  color: #e3e3f0;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a:active,
a:focus {
  color: gold;
}

.randomQuote {
  text-align: center;
  padding: 5px;
}

.mr-auto {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(59, 56, 56);
  align-items: center;

  flex-wrap: wrap;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.userProfileLink {
  width: 100px;
  text-align: center;
}

.profileMainDiv {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e5f7;
  padding-right: 70px;
}

.userProfileDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  list-style: none;
  width: 500px;
  height: auto;
}

.image {
  max-width: 500px;
  max-height: 500px;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
}

.imageDiv {
  background-color: gray;
  background-image: url("imageDivBackground.jpg");
}

.readMore {
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  color: blue;
}

.teamList {
  text-align: center;
  padding: 5px;
}

.editButton {
  font-size: 15px;
  width: 100px;
  padding: 2px;
  margin: 5px;
}

.userProfileLink a {
  color: #9df1ff;
}

.homeLink {
  width: 100px;
  text-align: center;
}

.localLink {
  width: 100px;
  text-align: center;
}

.natLink {
  width: 100px;
  text-align: center;
}

.worldLink {
  width: 100px;
  text-align: center;
}

.sportsLink {
  width: 100px;
  text-align: center;
}

.weatherLink {
  width: 100px;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.newsFeed {
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;

  padding-top: 30px;
}

.usernameP {
  padding: 5px;
}

.locationP {
  padding: 5px;
}
.signupFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 375px;
  padding-right: 20px;
}

.signUpButton {
  width: 100px;
  align-self: center;
  margin: 15px;
  margin-left: 50px;
}

.signUpFont {
  font-size: 15px;
}

.registrationFont {
  padding-top: 30px;

  padding-bottom: 5px;
}

label {
  padding: 10px;
  font-size: 17px;
  text-align: center;
}

.signInButton {
  margin: 5px;
  width: 60px;
}

.articleLink {
  color: blue;
}

.worldNewsPic {
  max-width: 500px;
  max-height: 500px;
  align-self: center;
}

.passwordFont {
  font-size: 15px;
  padding-top: 10px;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  padding-left: 40px;
  padding-right: 40px;
}

h3 {
  padding-left: 40px;
  padding-right: 40px;
}

h4 {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.inputLabel {
  padding-left: 40px;
  padding-right: 10px;
}

.countryCode {
  padding-bottom: 20px;
  text-align: center;
}

.loading {
  padding-left: 40px;
}

.description {
  font-size: 15px;
  padding-top: 5px;

  padding-left: 40px;
  padding-right: 40px;
}

.published {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

.source {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

.author {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

.article {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.itemCard {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 10px;
  list-style: none;
  border-style: inset;
}

.pageTitle {
  font-size: 20px;
  padding: 5px;
  margin-top: 30px;
  text-align: center;
  align-content: center;
}

.large-article {
  width: auto;
  height: auto;
}

.small-article {
  width: 50%;
  height: 50%;
}

.stocksFeed {
  background-color: #e4e5f7;
  padding-top: 20px;
  padding-bottom: 100px;
}

.eachStockResult {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 20px;
  background-color: #e4e5f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  border-style: inset;
  background-image: url("imageDivBackground.jpg");
}

.eachStockResult div {
  margin: 5px;

  border: 1px solid #ddd;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: -10px;
  background-color: #f9f9f9;
}
