.standings-container {
  margin: 20px;
}

.team-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.team-logo {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.team-info {
  display: flex;
  flex-direction: column;
}
.sportsNav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  font-size: 14px;
  background-color: rgb(165, 162, 162);
  border: 2px solid black;
  margin: -7px;
}

.latestSportsHeader {
  margin-bottom: 15px;
   }

.news-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sportsNavLinks {
  color: blue;
  padding-top: 2px;
}

.article {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.large-article {
  flex-basis: 100%;
}

.small-article {
  flex-basis: calc(50% - 20px);
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

